<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>726013220575-1n0v73v1jdrrktlvd1iv350ko0anar0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.726013220575-1n0v73v1jdrrktlvd1iv350ko0anar0o</string>
	<key>API_KEY</key>
	<string>AIzaSyCZsAjgpTqcHPqhUPOWbpsxMg83wzG2kY4</string>
	<key>GCM_SENDER_ID</key>
	<string>726013220575</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Aashal-Saumya.Sangeet</string>
	<key>PROJECT_ID</key>
	<string>official-music-player-app</string>
	<key>STORAGE_BUCKET</key>
	<string>official-music-player-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:726013220575:ios:ef0bd14bdb239e76</string>
	<key>DATABASE_URL</key>
	<string>https://official-music-player-app.firebaseio.com</string>
</dict>
</plist>